
.search{
    margin-bottom:10px;
}

input[type=search] {
    font-size: 14px;
    padding:10px;
    border: 1px solid grey;
    outline: none;
    float: right;
    background: #f1f1f1;
    height:40px;
    position:relative;
  }
  input[type=search]:focus{
    background-color: aliceblue;
  }
  button[type=submit] {
    float: right;
    width: 45px;
    height:40px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
 button:hover {
    background: #0b7dda;
  }
  